body {
    margin: 15px;
    padding:5px;
    background-color: black;
    height: 900px;
    width: 1000px;
}
#conteiner-1
{
    background-color: aquamarine;
    box-sizing: border-box;
    border-radius: 25px ;
    border: solid 5px #f219e5;
    width:1000px ;
}
 .header{
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 50px;

 }
#conteiner-2 {
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: solid 5px #f219e5;
    width: 20%;
    height: 310px;
    background-color: aquamarine;
}



/*#conteiner-3 {*/
/*    margin:15px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/

/*}*/

.post1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: solid 5px #f219e5;
    width: 800px;
    height: 150px;
    background-color: aquamarine;

}

.post2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 25px;
    border: solid 5px #f219e5;
    width:800px;
    height: 150px;

}
.conteiner-4 {
    background-color: aquamarine;
    box-sizing: border-box;
    border-radius: 25px;
    border: solid 5px #f219e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

