body{background-color: tomato}
#father{
    margin: 0 ;
    background-color: tomato;
    width: 1040px;
    height: 800px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#blockone{
    background: #1dcef2;
    height: 220px;
    width: 1020px;
    margin: 10px;
    justify-content: center

}
.task1 {
    box-sizing: border-box;
    width: 1000px;
    height: 200px;
    color: #2f2e2e;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center

}

#second {
    background-color: tomato;
    height: 600px;
    width:1020px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
    margin: 5px;
    font-size: 50px;

}
#sec_small {
    background-color: tomato;
    height: 700px;
    width:760px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;

}
.taskB {
    box-sizing: border-box;
    width: 245px;
    height: 300px;
    background: #1DCEF2FF;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}
.taskC {
    box-sizing: border-box;
    width: 245px;
    height: 300px;
    background: #1DCEF2FF;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center

}.taskD {
    box-sizing: border-box;
    width: 245px;
    height: 300px;
    background: #1DCEF2FF;
     margin-left: 5px;
     display: flex;
     align-items: center;
     justify-content: center

 }

#sec_small2 {
    margin-top: 10px;
    background-color: tomato;
    height: 500px;
    width:770px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
}
.taskE {
    box-sizing: border-box;
    width: 245px;
    height: 300px;
    background: #1DCEF2FF;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center

}
.taskF {
    box-sizing: border-box;
    width: 245px;
    height: 300px;
    background: #1DCEF2FF;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}
.taskG {
    box-sizing: border-box;
    width: 245px;
    height: 300px;
    background: #1DCEF2FF;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

.taskH {

    box-sizing: border-box;
    width: 250px;
    height: 610px;
    background: #1DCEF2FF;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}


