#main {
    width: 1260px;
    height: 1000px;
    background: silver;
    flex-wrap: wrap;
    display: flex;
}
.a_block {
    width: 1260px;
    height: 320px;
    background: #ff7a02;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bcd_block {
    margin-top: 20px;
    display: flex;
}
.b_block {
    width: 300px;
    height: 320px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.c_block {
    margin-left: 20px;
    width: 300px;
    height: 320px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.d_block {
    margin-left: 20px;
    width: 300px;
    height: 320px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
#efg_block {
    margin-top: 20px;
    display: flex;
}
.e_block {
    width: 300px;
    height: 320px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.f_block {
    margin-left: 20px;
    width: 300px;
    height: 320px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.g_block {
    margin-left: 20px;
    width: 300px;
    height: 320px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
#h_block {
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    height: 660px;
    background: #ff7a02;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #main {
        width: 820px;
        justify-content: center;
        height: 900px;
    }
    .a_block {
        font-size: 40px;
        border-radius: 50px;
        height: 200px;
        width: 800px;
        margin-bottom: 4px;
    }
    .b_block {
        font-size: 40px;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    .c_block {
        font-size: 40px;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    .d_block {
        font-size: 40px;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    .e_block {
        font-size: 40px;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    .f_block {
        font-size: 40px;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    .g_block {
        font-size: 40px;
        border-radius: 20px;
        height: 200px;
        width: 200px;
    }
    #h_block {
        font-size: 40px;
        border-radius: 50px;
        height: 200px;
        width: 800px;
    }
    #bcd_block {
        margin: 0;
        margin-top: 5px;

    }
}
@media screen and (min-width: 390px) and (max-width: 844px) {
    #main {
        width: 450px;
        justify-content: center;
        height: 500px;
    }
    .a_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 400px;
    }
    .b_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    .c_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    .d_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    .e_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    .f_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    .g_block {
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    #h_block {
        margin: 0;
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 400px;
    }
    #bcd_block {
        margin: 0;
    }
}