
body { background-color: #000}

.A{ height: 24px;
    width: 120px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 100px;
    /*box-shadow: #1c1515 20px 17px 1px 2px;*/
    border:4px solid #ffa602;
    border-radius: 50px;
    /*margin-top:100px;*/
    margin-top:40px;
    margin-left: 640px;
    color: #ffa602;
    Font-size: 20px;
    text-aling: center;


}

.B{
    height: 24px;
    width: 120px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 100px;
    border:4px solid #1dcef2;
    border-radius: 50px;
    margin-top:40px;
    margin-left: 640px;
     color : #1dcef2;
    text-aling: center;
    Font-size: 20px;

}

.C{

    height: 24px;
    width: 120px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 100px;
    border:4px solid #f219e5;
    border-radius: 50px;
    margin-top:40px;
    margin-left: 640px;
    color: #f219e5;
    Font-size: 20px;



}
.D {
    height: 24px;
    width: 120px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 100px;
    border:4px solid #ff0202;
    border-radius: 50px;
    margin-top:40px;
    margin-left: 640px;
    color: #ff0202;
    text-aling: center;
    Font-size: 20px;

}


