h1 {
    background: #892727;
    color: #fcfcfc;
    padding-left: 800px;
}

.one {
    background: silver;
    padding: 20px;
    box-sizing: border-box;
}

.two {
    background: cornflowerblue;
    box-sizing: border-box;
    height: 100px;
    padding-top: 40px;
}

.three {
    width: 200px;
    height: 200px;
    background: #6aba67;
}

.four {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background: #8986ac;
}